body {
    margin: 0;
    padding: 0;
}
link {
    color : black;
    text-decoration : none
   
}
.imgInclineeFooter {
    height: 50px;
    width: 100%;
}

.flexReseauxSociaux {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px;

}
.input_newsletter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px;   
}

.pourFlex {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;

}

footer {
    background-color:  #1C051C;
    padding-bottom: 20px;
}

.cssDesLiens {
    display: flex;
    flex-flow: column nowrap;
    justify-content: left;
    align-items: left;
    color: black;
    text-decoration :none;
    margin: 0 0 30px 0;
}
a{
color : black;
text-decoration : none;
}

li {
    text-decoration : none;
    list-style-type: none;
    color : black !important;
}

.cssImgIcones {
    width: 60px;
    height: left;
    margin : 15px;
}

@media screen and (max-width: 1000px) {

    .cssDesLiens {
        flex-flow: column nowrap;
        justify-content: left;
        align-items: left;
        margin: 0;
        padding: 0;
    }
    .cssImgIcones {
        width: 30px;
        height: left;
    }
    .pourFlex {
        display: flex;
        flex-flow: column nowrap;
        align-content: left;
        justify-content: left;
    
    }
    .flexReseauxSociaux {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: right;
        margin: 5px;
    
    }
    .input_newsletter {
        display: flex;
        flex-flow: row nowrap;
        justify-content: right;
        align-items: right;
         
    }
  

}

